body {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

h1{
    text-align: center;
    color: #2a6f97;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0;
}

section > div {
    flex: 1 1 300px;
    /*
    flex-grow: 1    여유 공간 있다면 균등하게 늘어님
    flex-shrink: 1  공간이 부족할 경우 균등하게 줄어듦
    flex-basis: 300px  요소의 기본 너비는 300px
    */
    background-color: #f7fbff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section h3 {
    margin-top: 0;
    color: #2a6f97;
}

ul {
    padding-left: 20px;
    list-style: disc;
}