body {
    background: #f0f0f0;
    margin: 25px;
    font-family: 'Nanum Gothic', sans-serif;
}
.title {
    text-align: center;
    width: 640px;
    margin: 0 auto 20px;
}
.gallery {
    width: 640px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.gallery li {
    float: left;
    width: 280px;
    margin: 0 15px 20px;
    background-color: #fff;
    box-shadow:
        0 4px 8px rgba(0,0,0,0.3),
        0 0 8px rgba(0,0,0,0.1);
}
.gallery li:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}
.gallery img{
    width: 100%;
    height: 230px;
    display: block;
}
.gallery figcaption{
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    font-size: 1em;
}