body {
    background-color: #bbf1ef;
    font-family:'Verdana', 'Apple SD Gothic Neo', 'NanumGothic',sans-serif;
    text-align: center;
}

img {
    border-radius: 50%;
}

h1 {
    font-size: 15px;
    width: 300px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
}

ul li {
    width: 300px;
    height: 30px;
    list-style: none;
    font-weight: bold;
    font-size: 16px;
    background-color: #ff9a9e;
    padding: 10px 10px;
    margin: auto;
    border-radius: 5px;

}

li a {
    color: white;
    text-decoration: none;
}